{% extends 'base.html' %}
{% load static %}
{% block title %}
    Admin Panel
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin-contact.css' %}">
{% endblock %}

{% block content %}
    <div class="container box">
        <ul class="special">
            <table class="container">
                <thead>
                <tr>
                    <th>Topic</th>
                    <th>Full name</th>
                </tr>
                </thead>

                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.topic }}</td>
                        <td><a href="{%  url 'admin_panel:admin-contact-info' contact.pk %}">{{ contact.name }} {{ contact.last_name }}</a></td>
                        <td><a href="{% url 'admin_panel:admin-contact-delete' contact.pk %}">Delete data</a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
{% endblock %}