{% extends 'base.html' %}

{% block title %}
    Group Child List
{% endblock %}

{% block content %}
    <a href="">Add new child to group </a>
    {% for child in children %}
        <div class="container box">
            <ul class="special">
                <li>Name: {{ child.name }} {{ child.last_name }}</li>
                <li>Gender: {{ child.gender }}</li>
                <li>Short description: {{ child.short_description }}</li>
                <li>Group: {{ child.prefetched_children_groups }}</li>


            </ul>
        </div>
    {% endfor %}
{% endblock %}