{% extends "base.html" %}
{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="about">
        <h3>Objectives of Kindergarten:</h3>
        <ul>
            <li>Socialization: Helps children develop social skills by interacting with peers and teachers.</li>
            <li>Basic Academics: Introduces fundamental concepts in literacy, numeracy, science, and social studies.
            </li>
            <li>Emotional Development: Encourages emotional maturity and helps children understand and manage their
                feelings.
            </li>
            <li>Motor Skills: Develops fine and gross motor skills through activities like writing, drawing, and
                physical
                play.
            </li>
            <li>Independence: Promotes self-reliance by encouraging children to take on small responsibilities and make
                choices.
            </li>
        </ul>
        <h3>Typical Activities:</h3>
        <ul>
            <li>Circle Time: Group activities where children learn songs, listen to stories, and participate in
                discussions.
            </li>
            <li>Art and Craft: Creative projects that develop fine motor skills and creativity.</li>
            <li>Outdoor Play: Physical activities that promote health and teamwork.</li>
            <li>Learning Centers: Different stations focused on specific skills or subjects, such as reading corners,
                math
                games, or science experiments.
            </li>
            <li>Story Time: Reading sessions that foster a love for books and improve listening skills.</li>
        </ul>
        <h3>Benefits of Kindergarten:</h3>
        <ul>
            <li>Smooth Transition to School: Prepares children for the structure and expectations of primary school.
            </li>
            <li>Holistic Development: Addresses various developmental needs – cognitive, emotional, social, and
                physical.
            </li>
            <li>Early Identification of Learning Needs: Helps identify any learning or developmental issues early on so
                that
                appropriate interventions can be made.
            </li>
        </ul>
        <h3>Tips for Parents:</h3>
        <ul>
            <li>Engage in Activities: Spend time reading to your child, playing educational games, and doing simple
                crafts.
            </li>
            <li>Routine: Establish a daily routine to help your child get used to the structure.</li>
            <li>Communication: Talk to your child about their day to encourage communication skills and understanding of
                their experiences.
            </li>
            <li>Positive Reinforcement: Encourage and praise your child to build confidence and a love for learning.
            </li>
        </ul>
    </div>
{% endblock %}